* {
    /* Primary colours */
    --primary-soft-orange: hsl(35, 77%, 62%);
    --primary-soft-red: hsl(5, 85%, 63%);

    /* Neutral Colours */
    --neutral-off-white: hsl(36, 100%, 99%);
    --neutral-grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

@font-face {
    font-family: regular;
    src: url(./assets/fonts/static/Inter-Regular.ttf);
}

@font-face {
    font-family: boldFont;
    src: url(./assets/fonts/static/Inter-Bold.ttf);
}

@font-face {
    font-family: veryBold;
    src: url(./assets/fonts/static/Inter-ExtraBold.ttf);
}

.sub-section-a {
    font-family: veryBold
}

body {
    padding: 0;
    margin: 0;
}

li {
    text-decoration: none;
}

.container {
    background-color: var(--neutral-off-white);
}

/*colours and sizes*/
.small-sections h1,
.fc-1, 
li {
    color: var(--neutral-grayish-blue);
}

.fc-2 {
    color: var(--neutral-off-white);
}

.fc-3 {
    color: var(--primary-soft-orange);
    font-size: 2rem;
}

.nav-bar {
    text-decoration: none;
}

.btn {
    background-color: var(--primary-soft-red);
}

.second-section {
    background-color: black;
    font-family: regular;
}


@media screen and (max-width: 750px) {
    .app {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        gap: 10px 0;
        width: 100%;
        margin: 0 10px;
    }
    
    .container {
        display: flex;
        flex-direction: column;
    }

    .image {
        content: url(./assets/images/image-web-3-mobile.jpg);
        width: 400px;
        height: 400px;
        display: flex;
    }

    .first-text {
        width: 100%;
    }

    .second-section {
        max-width: 1fr;
        width: 100%;
    }


    .third-section {
        display: grid;
        grid-template-columns: 1fr;
        gap: .625rem;
    }

    .small-sections {
        display: grid;
        grid-template-columns: 0.74fr 1fr;
    }

    .smaller-section {
        width: 100%;
    }

    p {
        width: 100%;
    }

    .smaller-section h1 {
        margin-top: 0;
    }
}


@media screen and (min-width:751px ) {
    header {
        max-width: 900px;

    }

    .image {
        content: url(./assets/images/image-web-3-desktop.jpg);
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 900px;
        gap: 30px;
    }

    .first-section {
        grid-column: span 2;
        width: 100px;
    }

    .second-section {
        grid-column: 2 / span 1;
    }

    .image {
        width: 100%;
    }

}

