* {
    /* Primary colours */
    --primary-soft-orange: hsl(35, 77%, 62%);
    --primary-soft-red: hsl(5, 85%, 63%);

    /* Neutral Colours */
    --neutral-off-white: hsl(36, 100%, 99%);
    --neutral-grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

@font-face {
    font-family: regular;
    src: url(./assets/fonts/static/Inter-Regular.ttf);
}

@font-face {
    font-family: boldFont;
    src: url(./assets/fonts/static/Inter-Bold.ttf);
}

@font-face {
    font-family: veryBold;
    src: url(./assets/fonts/static/Inter-ExtraBold.ttf);
}

.sub-section-a {
    font-family: veryBold
}

body {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

/*colours and sizes*/
.container {
    background-color: var(--neutral-off-white);
}

.small-sections h1,
.fc-1, 
li {
    color: var(--neutral-grayish-blue);
    font-family: regular;
}

.fc-2 {
    color: var(--neutral-off-white);
    font-family: boldFont;
}

.fc-3 {
    color: var(--primary-soft-orange);
    font-size: 2rem;
}

.nav-bar {
    text-decoration: none;
}

.btn {
    background-color: var(--primary-soft-red);
    color: var(--neutral-off-white);
}

.second-section {
    background-color: black;
    font-family: regular;
}


@media screen and (max-width: 750px) {
    .app {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        gap: 10px 0;
        width: 100%;
        margin: 0 10px;
    }
    
    .container {
        display: flex;
        flex-direction: column;
    }

    .image {
        content: url(./assets/images/image-web-3-mobile.jpg);
        width: 400px;
        height: 400px;
        display: flex;
    }

    .first-text {
        width: 100%;
    }

    .second-section {
        max-width: 1fr;
        width: 100%;
    }


    .third-section {
        display: grid;
        grid-template-columns: 1fr;
        gap: .625rem;
    }

    .small-sections {
        display: grid;
        grid-template-columns: 0.74fr 1fr;
    }

    .smaller-section {
        width: 100%;
    }

    p {
        width: 100%;
    }

    .smaller-section h1 {
        margin-top: 0;
    }
}


@media screen and (min-width:751px ) {
    body {
        padding: 15px;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    header {
        max-width: 1100px;

    }

    .app {
        align-items: center;
        justify-content: center;
        align-content: center;
        padding: auto;
    }

    .image {
        /* content: url(./assets/images/image-web-3-desktop.jpg); */
        width: 100%;
    }

    
    .first-section {
        grid-column: span 2;
        /* width: 100px; */
    }

    .first-sub-section {
        display:  grid;
        grid-template-columns: 1fr 1fr;
    }

    .sub-section-a h1 {
        font-size: 3.5rem;
        padding: 0;
        margin: 0;
    }

    .btn {
        border: none;
        height: 50px;
        width: 150px;
        cursor: pointer;
    }

    .btn:hover {
        background-color: var(--very-dark-blue);
    }

    .second-section {
        padding: 30px;
    }

    .extra .fc-2 {
        margin-bottom: 0;
    }

    .extra .fc-1 {
        line-height: 1.5;
    }

    .third-section {
        grid-column: span 3;
        grid-row: 100px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /* gap: 1.25rem; */
        /* max-width: 1200px; */
        width: 100%;
    }

    .small-sections {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 12px;
    }

    .smaller-section h2 {
        font-family: veryBold;
    }

    .container {
        display: grid;
        max-width: 1200px;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.25rem;
    }

}

