* {
    /* Primary colours */
    --primary-soft-orange: hsl(35, 77%, 62%);
    --primary-soft-red: hsl(5, 85%, 63%);

    /* Neutral Colours */
    --neutral-off-white: hsl(36, 100%, 99%);
    --neutral-grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

@font-face {
    font-family: regular;
    src: url(./assets/fonts/static/Inter-Regular.ttf);
}

@font-face {
    font-family: boldFont;
    src: url(./assets/fonts/static/Inter-Bold.ttf);
}

@font-face {
    font-family: veryBold;
    src: url(./assets/fonts/static/Inter-ExtraBold.ttf);
}

@font-face {
    font-family: slanting;
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

body {
    padding: 3rem;
    margin: 0;
    min-height: 100vh;
    line-height: 1.3;
    display: grid;
    grid-template-rows: min-content min-content;
    /* overflow-x: hidden; */
}

ul {
    list-style: none;
}

h1,
h2,
h3,
image,
p {
    margin: 0;
}

.sub-section-a,
.fc-3 {
    line-height: 1.05;
}

.container {
    background-color: var(--neutral-off-white);
}

.container,
header {
    /* max-width: 1110px; */
    max-width: 74em;
    margin-inline: auto;
}

.logo {
    width: clamp(4.4rem, 10vw + 1em, 6.4rem);
}

nav ul {
    --row-gap: 1.8rem;
}

.primary-navigation {
    /* position: fixed; */
    inset: 0 0 0 30%;
    z-index: 10;
    flex-direction: column;
    /* background: hsl(var(--clr-light)); */
    /* padding: min(15rem, 30vh) 2.4rem; */
    /* transform: translateX(100%); */
    /* transition: transform 0.8s ease-in-out; */
    text-decoration: none;
}

.primary-navigation li {
    display: inline-block;
    padding: 0px 20px;
}

.primary-navigation a {
    color: var(--dark-grayish-blue);
    text-decoration: none;
    font-family: regular;
}

.mobile-nav-toggle {
    display: block;
    position: fixed;
    top: 2rem;
    right: 1.6rem;
    border: 0;
    background: transparent;
    background-image: url(../assets/images/icon-menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 100;
    width: 4rem;
    aspect-ratio: 1;
}

img {
    max-width: 100%;
    display: block;
}

.mobile-nav-toggle[aria-expanded='true'] {
    background-image: url(../assets/images/icon-menu-close.svg);
}
  
#primary-nav-background {
    display: none;
}

/*colours, fonts and sizes*/

.sub-section-a {
    font-family: veryBold
}

.small-sections h1,
.fc-1 {
    font-family: regular;
    color: var(--neutral-grayish-blue);
}

.fc-2 {
    color: var(--neutral-off-white);
    font-family: boldFont;
}

.fc-3 {
    color: var(--primary-soft-orange);
    font-size: 2rem;
}

.smaller-section h3 {
    font-family: veryBold;
}

.btn {
    background-color: var(--primary-soft-red);
    color: var(--neutral-off-white);
    font-family: boldFont;
    letter-spacing: 2px;
    border: none;
}

.second-section {
    background-color: var(--very-dark-blue);
    font-family: regular;
}

/* Hover States */
.fc-2:hover {
    color: var(--primary-soft-orange);
    cursor: pointer;
}

.small-sections h2:hover {
    color: var(--primary-soft-red);
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0.8rem;
    margin-bottom: 3rem;
}


@media screen and (max-width: 800px) {
    .primary-navigation {
        display: none;
    }

   .app {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }

   .image {
    display: grid;
    width: 100%;
   }

   .container {
    display: grid;
    gap: 30px;
    }

    .first-section {
        display: grid;
        gap: 25px;
    }

    .first-section h1 {
        font-size: 3rem;
    }

    .first-sub-section {
        display: grid;
        gap: 25px;
    }

    .btn {
        width: 150px;
        height: 40px;
    }

    .second-section {
        padding: 25px;
    }

    .custom-class {
        padding-bottom: 25px;
    }

    .extra {
        padding-top: 25px;
    }

    .extra h2 {
        padding-bottom: 10px;
    }

    .first-text,
    .extra .fc-1 {
        font-size: 16px;
    }

   .third-section {
    display: grid;
    gap: 30px;
   }

   .small-sections {
    display:  grid;
    grid-template-columns: 1fr 1fr;
    line-height: 1.5;
   }

   .small-sections img {
    display: flex;
   }

   .smaller-section h3 {
    font-size: 1.3rem;
    padding-bottom: 5px;
   }

   .third-section .small-sections {
    grid-template-columns: 6.667em auto;
    gap: 2.4em;
   }

}


@media screen and (min-width:801px ) {

    .third-section .small-sections {
        grid-template-columns: 6.7rem auto;
        grid-template-rows: auto min-content;
        gap: 2em;
       }
    body {
        padding: 15px;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    header {
        max-width: 1100px;

    }

    .primary-navigation a:hover,
    .primary-navigation a:focus {
        color: var(--primary-soft-red);
    }

    .app {
        align-items: center;
        justify-content: center;
        align-content: center;
        padding: auto;
    }

    .image {
        content: url(./assets/images/image-web-3-desktop.jpg);
        width: 100%;
    }

    .mobile-nav-toggle {
        display: none;
    }

    
    .first-section {
        grid-column: span 2;
    }

    .first-sub-section {
        display:  grid;
        grid-template-columns: 1fr 1fr;
    }

    .sub-section-a h1 {
        font-size: 3.5rem;
        padding: 0;
        margin: 0;
    }

    .btn {
        height: 50px;
        width: 150px;
        cursor: pointer;
    }

    .btn:hover {
        background-color: var(--very-dark-blue);
    }

    .second-section {
        padding: 30px;
    }

    .extra .fc-2 {
        margin-bottom: 0;
    }

    .third-section {
        grid-column: span 3;
        /* grid-row: 100px; */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /* gap: 1.25rem; */
        /* max-width: 1200px; */
        width: 100%;
    }

    .small-sections {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 12px;
    }

    .smaller-section h3 {
        padding: 12px 0;
    }

    .container {
        display: grid;
        max-width: 1200px;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.25rem;
    }

}

